@charset "utf-8";

/* em html é ID = em CSS é/  #  (so pode um elemento )
em htlm é class = em css é .   ( podem varios elementos)    */ 


body {
    background-color: aquamarine;
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    color: green;



}
h2{
    color: blue;
}
h1#principal { 
    text-align: center;
    background-color: chartreuse;

}
.basico {
   color: chartreuse;
   font-weight: bolder;
}
.intermediario {
    color: yellow;

}
.avancado {
    color: orangered;

}